APP_RUN__HOST=localhost
APP_RUN__PORT=
APP_EXTERNAL_PORT=8881
APP_ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=842611607808ab64f03afdbdaa98b56328648f8882a2d022437c624305a6b249f1ec038b3899cd8b03a28d22b0603faec29524906dcee56b77cfab43ef82e0b2
APP_ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=

# Database environments
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_ECHO=

# Redis
REDIS_PASS=
REDIS_PORT=
REDIS_HOST=
